<!--The content below is only a placeholder and can be replaced.-->

<h1>Componente Principal</h1>
<ul>
  <li>
    <a routerLink = '/inicio'> Inicio</a> <!--Routerlink no existe en la web solo en angular. -->
  </li>
  <li>
    <a routerLink = '/menu'> Menu</a> <!--Routerlink no existe en la web solo en angular. -->

    <!-- EMPIEZA-->
    <ol>
      <li>
        <a routerLink="/menu/gestion-usuarios"> Gestion Usuarios </a>
      </li>
      <li>
        <a routerLink="/menu/gestion-productos"> Gestion Productos </a>
      </li>
    </ol>
    <!-- Terminando-->

  </li>
  <li>
    <a routerLink = '/perfil'> Perfil</a> <!--Routerlink no existe en la web solo en angular. -->
  </li>
  <li>
    <a routerLink = '/login'> Login</a> <!--Routerlink no existe en la web solo en angular. -->

  </li>
</ul>


<router-outlet></router-outlet>

<p>Footer</p>
